#root{
  background: url('https://i.imgur.com/kDoW39n.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  max-height: 100vh;
}

.npc{
  background-color: rgba(128, 128, 128, 0.658);
  overflow-y: scroll;
  margin-bottom: 50px;
  width: 800px;
  height: 400px;
  margin-left: 20%;
  padding-left: 2.8%;
  padding-top: 3%;
  padding-right: 2%;
}

.npcAdd{
  background-color: rgba(128, 128, 128, 0.552);
  width: 600px;
  margin-left: 26%;
  margin-bottom: 100px;
  
}

